body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(160, 160, 160, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex: 1 1 300px;
    max-width: 400px;
    margin: 15px;
}

canvas {
    width: 100% !important; 
    height: 300px !important; 
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #111112;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.side-menu {
    background-color: rgba(160, 160, 160, 0.4);
    width: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px 0 20px 10px;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
}

.side-menu a.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 10px;
}

.side-menu a:hover {
    text-decoration: underline;
}

.side-menu img {
    width: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
}

h1 {
    color: white;
}

.clear-sky { background-image: url('./clear sky.jpg'); }
.rain { background-image: url('./rain.jpg'); }
.thunderstorm { background-image: url('./thunderstrom.jpg'); }
.snow { background-image: url('./snow.jpg'); }
.mist { background-image: url('./mist.jpg'); }

@media (max-width: 768px) {
    .side-menu {
        transform: translateX(-120%);
        position: absolute;
        z-index: 1000;
        background-color: rgba(88, 86, 86, 0.8);
    }

    .main-content {
        width: 90%;
        margin-top: 80px;
        padding: 10px;
    }

    .chart-container {
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
    }

    canvas {
        height: 250px !important; 
    }
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
}

.side-menu.active {
    margin-top: 80px;
    transform: translateX(0);
}

@media (max-width: 768px) {
    .chart-container {
        flex-basis: 100%;
        max-width: 100%;
    }
}
